<div class="card mb-3">
    
    
    <div class="card-header">
        <i *ngIf="mostrarImagen" class="fas fa-book"></i>
        {{ cabecera }} - {{ numero }}
    </div>
    <div class="card-body text-primary">
        <h5 class="text-title">{{ dato.titulo }}</h5>
        <p class="card-text">{{ dato.contenido }}</p>
        <p *ngIf="dato.horas"> {{ dato.horas }} Horas</p>
        <hr>
        <button (click)="meGusta()"
            class="btn btn-primary">
                <i class="far fa-thumbs-up"></i> <!-- Me gusta-->
        </button>
    </div>
    
</div>
